<!DOCTYPE html>
<html>
<head>
    <title>BasakWall</title>
</head>
<body>

    <h1>BasakWall</h1>

    <h2>Register</h2>

    <form action="/register" method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
        >

        <button type="submit">
            Register
        </button>

    </form>

    <hr>

    <h2>Login</h2>

    <form action="/login" method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
        >

        <button type="submit">
            Login
        </button>

    </form>

</body>
</html>