<!DOCTYPE html>
<html>

<head>
    <title>{{ user.username }} Profile</title>
</head>

<body>

    {% if current_user == user.username %}

        <a href="/logout">
            Logout
        </a>

    {% else %}

        {% if is_following %}

            <a href="/unfollow/{{ user.username }}">
                Unfollow
            </a>

        {% else %}

            <a href="/follow/{{ user.username }}">
                Follow
            </a>

        {% endif %}

    {% endif %}

    <h1>@{{ user.username }}</h1>

    <img
        src="{{ url_for(
            'static',
            filename='profile_pictures/' + user.profile_picture
        ) }}"
        width="150"
    >

    <p>

    <a href="/profile/{{ user.username }}/followers">

        Followers: {{ follower_count }}

    </a>

    </p>

    <p>

    <a href="/profile/{{ user.username }}/following">

        Following: {{ following_count }}

    </a>

    </p>

    <p>
        Joined:
        {{ user.created_at }}
    </p>

    {% if is_owner %}

    <hr>

    <h2>Create Post</h2>

    <form action="/posts" method="POST">

        <textarea
            name="content"
            placeholder="What's happening?"
            rows="5"
            cols="50"
            required
        ></textarea>

        <br><br>

        <button type="submit">
            Post
        </button>

    </form>

    {% endif %}

    <hr>

    <h2>Posts</h2>

    {% for post in posts %}

        <div>

            <a href="/posts/{{ post.id }}">

                 <p>
                {{ post.content }}
                 </p>

            </a>

            <small>
                {{ post.created_at }}
            </small>

            {% if post.user_id == session["user_id"] %}

                <br><br>

                <a href="/delete_post/{{ post.id }}">
                    Delete
                </a>

            {% endif %}

        </div>

        <hr>

    {% endfor %}

</body>

</html>